@import "tailwindcss";
@plugin '../../hero.ts';
@source '../../node_modules/@heroui/theme/dist*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-tp-purple-medium: #54479B;
  --color-tp-purple-dark: #453796;
  --color-tp-gray-light: #dedede;
  --color-tp-blue-light: #B6DEFF;
  --color-tp-dusted-blue: rgba(97, 119, 140, 255);
  --color-tp-dusted-beige: rgba(137, 124, 116, 1);
  --color-tp-gradient-login: 150deg, rgba(97, 119, 140, 255), rgba(97, 119, 140, 255), rgba(137, 124, 116, 1) no-repeat center;
  --color-tp-gradient-barcode: linear-gradient(135deg, #e0f7fa 0%, #80deea 50%, #4dd0e1 100%);
  --shadow-circle1: inset -4px 0px 4px rgba(0, 0, 0, 0.09);
  --shadow-circle2: inset 4px 0px 4px rgba(0, 0, 0, 0.09);
  --shadow-ticket-info: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 -4px 6px -2px rgba(0, 0, 0, 0.05);
  --width-dashed-line: calc(100% - 50px);
  --height-embeded-page: calc(100vh - 80px);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Animații pentru meniul dropdown */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out forwards;
}

.active {
  background: var(--color-tp-purple);
  color: white;
}
